.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box {
  margin: 20px;
}

.grid > div {
  flex-basis: calc(25% - 40%);
}

.card {
  position: relative;
  overflow: hidden;
}

.card:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 100%;
  height: 220%;
  top: -50%;
  left: -100%;
  background: rgba(235, 53, 131, 0.75);
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: 0.5s;
}

.card:hover:before {
  left: 40%;
}

.card img {
  width: 100%;
  height: auto;
}

.cardtext {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.card:hover .cardtext {
  top: 80px;
}
