html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-attachment: fixed;
  background-image: "/../public/studiowall.jpg";
  background-repeat: no-repeat;
}

.content_bg {
  margin: 50px 0;
  background-image: url();
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  position: fixed;
  z-index: 0;
  top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* color: #fff; */
}
