html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: fixed;

  background-color: #ffe687;
  background-image: linear-gradient(
    68.2deg,
    rgba(255, 202, 88, 1) 0%,
    rgba(139, 73, 255, 1) 100.2%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #121212;
}
